.container{
    padding: 15px;
    text-align: center;
}

.intro{
    background-image: url('./Images/sebastian-svenson-d2w-_1LJioQ-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20%;
    color: white; 
    font-family: 'Gabriela', serif;
}


.about{
    padding-top: 20px;
    padding-bottom: 15px;
}

.form{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    display: inline-block;
}